<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Music Classifier</title>
<nav>
  <h1>Input Lyrics and Song Spotify ID to Get Song's Genre</h1>
  <ul>
    <li><a href="{{ url_for('submit') }}">Input song lyrics</a></li>   
    <li><a href="{{ url_for('submit')}}">View Genre Prediction</a></li>
   
    
</nav>
<section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
  </section>

