{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Submit{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form action = "{{ url_for('predict')}}"method="post">
    <label for="lyrics">Your song lyrics:</label>
    <br>
    <input type = "text" name="lyrics" id="lyrics" required = "required"> 
    <br>
    <label for="song">Your song:</label>
    <br>
    <input type = "text" name="song" id="song" required = "required">
    <br>
    <input type="submit" value ="Predict">
  </form>

  {% if prediction %}
    <br>
    Thanks for uploading the song and its lyrics! We predict its genre to be a {{prediction}}.
  {% endif %}  
  {% if digit %}
    <br>
    Sorry, we did not find the song. Please double check the song's Spotify ID.
  {% endif %}  

{% endblock %}
